@charset "ISO-8859-1";

body {
	text-align: center;
	font-family: sans-serif;
	font-size: 1.1rem;
	background-color: #cfcbca;
}

.heading {
	color: red;
	padding-bottom: 20px;
	padding-top: 30px;
	font-style: inherit;
	font-weight: bold;
}

.student_form {
	align-items: center
}


td {
	padding: 10px 25px;
}

.button {
	background-color: #4f89b0;
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5%;
	transition-duration: 0.5s;
}

.button:hover {
	background-color: black;
}



.action {
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10%;
}

#delete{
	background-color: #f44336;
	color: white;
}

#update{
	background-color: blue;
	color: white;
}

#update:hover {
	background-color: navy;
	color: white;
}

#delete:hover {
	background-color: maroon;
	color: white;
}

